@inject Domain.Interfaces.IManageForumPosts manageForumPosts
@inject NavigationManager navManager

<EditForm Model="@_forumPost" OnValidSubmit="AddNewPost">
    <DataAnnotationsValidator />
    <InputTextArea id="PostText" @bind-Value="_forumPost.PostText" rows="3" class="@textAreaClass" />
    <ValidationMessage For="@(() => _forumPost.PostText)" />
    <button class="btn btn-blazorforum mt-2 @btnVisibility" type="submit">
        @GeneralResources.AddPostBtnText
    </button>
    <div class="rounded bg-veryDarkBlue p-2 mt-2 text-light @submitVisibility">
        <i class="oi oi-cog se-spin-icon"></i> @GeneralResources.BtnPostingText
    </div>
</EditForm>

@code {
    [Parameter] public string CurrentUserId { get; set; }
    [Parameter] public Action OnPostAdded { get; set; }
    [Parameter] public int TopicId { get; set; }
    private Models.ForumPost _forumPost = new Models.ForumPost() { UserId = "placeholder" };
    private string btnVisibility = "d-block";
    private string submitVisibility = "d-none";
    private string textAreaClass { get; set; } = "mt-2 form-control";

    private async Task AddNewPost()
    {
        btnVisibility = "d-none";
        submitVisibility = "d-inline-block";

        _forumPost.UserId = CurrentUserId;
        _forumPost.PostedDate = DateTime.Now.ToUniversalTime();
        _forumPost.ForumTopicId = TopicId;
        _forumPost.Flags = 0;
        _forumPost.IsModeratorChanged = false;
        _forumPost.IsDeleted = false;
        _forumPost.IsApproved = true;

        await manageForumPosts.AddNewPostAsync(_forumPost);

        btnVisibility = "d-inline-block";
        submitVisibility = "d-none";
        _forumPost.PostText = string.Empty;

        textAreaClass = "mt-2 form-control clear-validation";

        OnPostAdded?.Invoke();
    }
}
