@page "/forum/category/topic/{id:int}/{slug}"
@using BlazorForum.Pages.Components
@using BlazorForum.Domain.Utilities.Formatting
@using Microsoft.AspNetCore.Identity

@inject NavigationManager navManager
@inject Domain.Interfaces.IManageForumTopics manageForumTopics
@inject Domain.Interfaces.IManageForumPosts  manageForumPosts
@inject UserManager<IdentityUser> userManager
@inject AuthenticationStateProvider authStateProvider
@inject IJSRuntime JSRuntime

@if (topic == null)
{
    <div class="mb-2 loading-div">
        <em><i class="oi oi-cog se-spin-icon"></i> Loading</em>
    </div>
}
else
{
    <header class="forum-topic-header">
        <h3>@topic.Title</h3>
    </header>
    <div class="forum-topic-text-div">
        @((MarkupString)topic.TopicText)
    </div>

    if (posts != null && posts.Count > 0)
    {
        <ul class="forum-post-ul">
            @foreach (var post in posts)
            {
                <li>
                    @((MarkupString)post.PostText)
                    <div class="forum-post-time">
                        Posted @DateTimeFormatting.RelativeDateAgo(post.PostedDate) 
                        by @post.UserName
                    </div>
                </li>
            }
        </ul>
    }

    <div class="text-center">
        <button class="btn btn-blazorforum @loadMoreVisibility" @onclick="LoadMorePosts">Load More</button>
    </div>
}

<section class="mt-4 mb-3">
    <h4>Post a Reply</h4>
    <AuthorizeView>
        <Authorized>
            <AddNewPostForm OnPostAdded="UpdatePosts" TopicId="@id" CurrentUserId="@CurrentUserId"></AddNewPostForm>
        </Authorized>
        <NotAuthorized>
            <div class="alert alert-secondary">
                <span class="text-secondary">@GeneralResources.MustLoginToPost</span>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</section>


@code {
    [Parameter] public int id { get; set; }
    [Parameter] public string slug { get; set; }
    [Parameter] public string CurrentUserId { get; set; }
    private Models.ForumTopic topic;
    private List<Models.ForumPost> posts;
    private int maxCount = 10;
    private string loadMoreVisibility;

    protected override async Task OnInitializedAsync()
    {
        topic = await manageForumTopics.GetForumTopicAsync(id);
        if(topic == null)
            navManager.NavigateTo("/");

        posts = await manageForumPosts.GetForumPostsAsync(id);

        if (maxCount >= posts.Count)
            loadMoreVisibility = "d-none";

        posts = posts.Take(maxCount).ToList();
        CurrentUserId = await new Domain.Utilities.Membership.UserInfo(userManager, authStateProvider).GetUserId();
        await AddUserToPost();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("setDocTitle", topic.Title);
    }

    public async void UpdatePosts()
    {
        posts = await manageForumPosts.GetForumPostsAsync(id);

        if (maxCount >= posts.Count)
            loadMoreVisibility = "d-none";
        else
            loadMoreVisibility = "d-inline-block";

        posts = posts.Take(maxCount).ToList();
        
        await AddUserToPost();
        StateHasChanged();
    }

    public async Task LoadMorePosts()
    {
        maxCount += 10;
        posts = await manageForumPosts.GetForumPostsAsync(id);

        if (maxCount >= posts.Count)
            loadMoreVisibility = "d-none";
        else
            loadMoreVisibility = "d-inline-block";

        posts = posts.Take(maxCount).ToList();

        await AddUserToPost();
        StateHasChanged();
    }

    private async Task AddUserToPost()
    {
        foreach (var post in posts)
        {
            var user = await userManager.FindByIdAsync(post.UserId);
            post.UserName = user.UserName;
        }
    }
}
